html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/home/gosu_jc/Coding/taco_survey/resources/img/tacos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

h1, p {
    text-align: center;
<<<<<<< HEAD
    margin-top: 0px;
   
}
=======
}

h1 {
    margin: 0;
    padding-top: 40px;
    font-family: 
>>>>>>> update
