/*****************/
/*Body*
/*****************/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/home/gosu_jc/Coding/taco_form/resources/img/tacos.jpg);
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1;
}

/*****************/
/*Headings*
/*****************/
h1, p {
    text-align: center;
    margin-top: 0px;
}

h1 {
    margin: 0;
    padding-top: 40px;
}

/*****************/
/*Survey*
/*****************/

#survey-form {
    text-align: left;
    background: rgb(68, 68, 68);
    Padding: 100px;
    background-size: 40px auto;
}

.form-group {
    opacity: 1;
    font-size: 25px;
    display: block;
    padding: 20px;
}

label {
    display: flex;
    align-items: center;
}

.form-group p {
    text-align: left;
}

.form-control {
    display: block;
    width: 100%;
}
